In [1]:
import numpy as np
import pandas as pd

In [3]:
# Import datafile
heart_data = pd.read_csv(r"C:\Users\Achintj\Python Code\Data Science\heart_data.csv",encoding = 'utf-8')

In [4]:
# Checking data head
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
# Check for any null entries
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [6]:
#remove duplicates (if any)
heart_data.drop_duplicates(inplace = True)
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302 entries, 0 to 302
Data columns (total 14 columns):
age         302 non-null int64
sex         302 non-null int64
cp          302 non-null int64
trestbps    302 non-null int64
chol        302 non-null int64
fbs         302 non-null int64
restecg     302 non-null int64
thalach     302 non-null int64
exang       302 non-null int64
oldpeak     302 non-null float64
slope       302 non-null int64
ca          302 non-null int64
thal        302 non-null int64
target      302 non-null int64
dtypes: float64(1), int64(13)
memory usage: 35.4 KB

In [113]:
# import all important pakages
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler,RobustScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [8]:
#Scaling the Data before doing anomoly detection
mm = MinMaxScaler()
heart_data_tf = mm.fit_transform(heart_data)
heart_data_tf[:5]

C:\Users\Achintj\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

array([[0.70833333, 1.        , 1.        , 0.48113208, 0.24429224,
        1.        , 0.        , 0.60305344, 0.        , 0.37096774,
        0.        , 0.        , 0.33333333, 1.        ],
       [0.16666667, 1.        , 0.66666667, 0.33962264, 0.28310502,
        0.        , 0.5       , 0.88549618, 0.        , 0.56451613,
        0.        , 0.        , 0.66666667, 1.        ],
       [0.25      , 0.        , 0.33333333, 0.33962264, 0.17808219,
        0.        , 0.        , 0.77099237, 0.        , 0.22580645,
        1.        , 0.        , 0.66666667, 1.        ],
       [0.5625    , 1.        , 0.33333333, 0.24528302, 0.25114155,
        0.        , 0.5       , 0.81679389, 0.        , 0.12903226,
        1.        , 0.        , 0.66666667, 1.        ],
       [0.58333333, 0.        , 0.        , 0.24528302, 0.52054795,
        0.        , 0.5       , 0.70229008, 1.        , 0.09677419,
        1.        , 0.        , 0.66666667, 1.        ]])

In [9]:
# Anomoly detection with DBscan
from sklearn.cluster import DBSCAN
dbscan = DBSCAN(eps=1.1)
pred = dbscan.fit_predict(heart_data_tf)
dbanom = heart_data[pred == -1]
dbanom

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2,1
93,54,0,1,132,288,1,0,159,1,0.0,2,1,2,1
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3,0
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0

In [10]:
#  Anomoly detection with EE
from sklearn.covariance import EllipticEnvelope
ee = EllipticEnvelope(contamination=.03)
ee.fit_predict(heart_data_tf)
eeanom = heart_data[ee.predict(heart_data_tf) == -1]
eeanom

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
97,52,1,0,108,233,1,1,147,0,0.1,2,3,3,1
103,42,1,2,120,240,1,1,194,0,0.8,0,0,3,1
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3,0
231,57,1,0,165,289,1,0,124,0,1.0,1,3,3,0
251,43,1,0,132,247,1,0,143,1,0.1,1,4,3,0
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0
281,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0

In [11]:
#Checking for similar Anomolies in both above methods and removing them from dataset
df = pd.DataFrame
df= dbanom.index.intersection(eeanom.index)
heart_data.drop(df,inplace = True)
heart_data.info()

In [49]:
# X = feature Data
X = heart_data.drop(['target'],axis =1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [50]:
# Y = target Data
Y = heart_data.target
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [51]:
# Check for target imbalance
Y.value_counts()
# Not imbalanced

1    164
0    134
Name: target, dtype: int64

In [110]:
# Scale Feature Data (Try different scalers to check which one works best)
scaler = StandardScaler()
X_tf = scaler.fit_transform(X)
X_tf[:5]

C:\Users\Achintj\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Achintj\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

array([[ 0.95086179,  0.66828283,  1.96242114,  0.82638208, -0.25517984,
         2.50365586, -1.00934258,  0.01607232, -0.68409085,  1.11785088,
        -2.2948313 , -0.70615971, -2.15982547],
       [-1.92473428,  0.66828283,  0.99260107, -0.06457979,  0.0740132 ,
        -0.39941592,  0.89435419,  1.6271028 , -0.68409085,  2.16649588,
        -2.2948313 , -0.70615971, -0.51371808],
       [-1.48233489, -1.49637243,  0.02278101, -0.06457979, -0.81674444,
        -0.39941592, -1.00934258,  0.97398234, -0.68409085,  0.33136713,
         0.96941561, -0.70615971, -0.51371808],
       [ 0.17666285,  0.66828283,  0.02278101, -0.65855437, -0.19708695,
        -0.39941592,  0.89435419,  1.23523052, -0.68409085, -0.19295537,
         0.96941561, -0.70615971, -0.51371808],
       [ 0.2872627 , -1.49637243, -0.94703906, -0.65855437,  2.08790004,
        -0.39941592,  0.89435419,  0.58211005,  1.46179414, -0.36772954,
         0.96941561, -0.70615971, -0.51371808]])

In [154]:
#split the data into train and test with unscaled data
trainX,testX,trainY,testY = train_test_split(X,Y)
#split the data into train and test with un scaled data
trainX_tf,testX_tf,trainY_tf,testY_tf = train_test_split(X_tf,Y)

In [155]:
#Using Random Forest Classifier
rf = RandomForestClassifier()

In [218]:
#Using grid search to get best params for Randomforest
params = {
    'n_estimators':[50,100,150,200,250,300],
    'random_state': [10,11,9,5,2,3,15,20,50]
         }
gs = GridSearchCV(rf, param_grid=params, cv=10, n_jobs=-1)
gs.fit(trainX_tf,trainY_tf)

C:\Users\Achintj\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'n_estimators': [50, 100, 150, 200, 250, 300], 'random_state': [10, 11, 9, 5, 2, 3, 15, 20, 50]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [219]:
# Grid Search Score
gs.score(testX_tf,testY_tf)

0.8533333333333334

In [220]:
#Best Params
gs.best_params_

{'n_estimators': 200, 'random_state': 5}

In [237]:
# Creating the Confusion matrix
pred = gs.predict(testX_tf)
from sklearn.metrics import confusion_matrix
confusion_matrix(y_pred=pred, y_true=testY_tf)

array([[28,  4],
       [ 7, 36]], dtype=int64)

In [169]:
# Using other Methods
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier,ExtraTreeClassifier
from sklearn.ensemble import AdaBoostClassifier, BaggingClassifier, GradientBoostingClassifier,RandomForestClassifier, VotingClassifier
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.neighbors import KNeighborsClassifier, NearestNeighbors
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [163]:
models = [SVC(kernel='linear',C =1000),SGDClassifier(max_iter=1000,tol=0.003),DecisionTreeClassifier(),ExtraTreeClassifier(),AdaBoostClassifier(), BaggingClassifier(), GradientBoostingClassifier(),RandomForestClassifier(n_estimators=200,random_state=15),GaussianNB(),KNeighborsClassifier(), LogisticRegression(max_iter=1000,solver='lbfgs')]
modelnames = ['SVC','SGDClassifier','DecisionTreeClassifier','ExtraTreeClassifier','AdaBoostClassifier', 'BaggingClassifier', 'GradientBoostingClassifier','RandomForestClassifier','GaussianNB','KNeighborsClassifier', 'LogisticRegression']

In [224]:
# Train and test with unscalled model
for index,model in enumerate(models):
    try:
        model.fit(trainX,trainY)
        print(modelnames[index],"Accuracy =",round(model.score(testX,testY)*100,2),"%")
    except:
        print("Skipped",modelnames[index])
        pass

Skipped NearestNeighbors
SVC Accuracy = 76.0 %
SGDClassifier Accuracy = 56.0 %
DecisionTreeClassifier Accuracy = 74.67 %
ExtraTreeClassifier Accuracy = 77.33 %
AdaBoostClassifier Accuracy = 77.33 %
BaggingClassifier Accuracy = 70.67 %
GradientBoostingClassifier Accuracy = 78.67 %
RandomForestClassifier Accuracy = 78.67 %
GaussianNB Accuracy = 82.67 %
KNeighborsClassifier Accuracy = 64.0 %
LogisticRegression Accuracy = 81.33 %

In [225]:
# Train and test with Standard scalled model
for index,model in enumerate(models):
    try:
        model.fit(trainX_tf,trainY_tf)
        print(modelnames[index],"Accuracy =",round(model.score(testX_tf,testY_tf)*100,2),"%")
    except:
        print("Skipped",modelnames[index])
        pass

Skipped NearestNeighbors
SVC Accuracy = 89.33 %
SGDClassifier Accuracy = 84.0 %
DecisionTreeClassifier Accuracy = 82.67 %
ExtraTreeClassifier Accuracy = 74.67 %
AdaBoostClassifier Accuracy = 82.67 %
BaggingClassifier Accuracy = 86.67 %
GradientBoostingClassifier Accuracy = 82.67 %
RandomForestClassifier Accuracy = 86.67 %
GaussianNB Accuracy = 86.67 %
KNeighborsClassifier Accuracy = 85.33 %
LogisticRegression Accuracy = 88.0 %

In [137]:
# lets work on AdaBoost and try to use other base estimators

In [226]:
#  base_estimator=DecisionTreeClassifier
ab = AdaBoostClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=1000)
ab.fit(trainX_tf,trainY_tf)
ab.score(testX_tf,testY_tf)

0.84

In [229]:
#  base_estimator=RandomForest
ab = AdaBoostClassifier(base_estimator=RandomForestClassifier(n_estimators=200,random_state = 5),n_estimators=1000)
ab.fit(trainX_tf,trainY_tf)
ab.score(testX_tf,testY_tf)

0.8666666666666667

In [228]:
#  base_estimator=LogisticRegression
ab = AdaBoostClassifier(base_estimator=LogisticRegression(solver = 'lbfgs'),n_estimators=1000)
ab.fit(trainX_tf,trainY_tf)
ab.score(testX_tf,testY_tf)

0.8666666666666667

In [230]:
# Lets use Voting classifier
estimators = [ 
    ('rf',RandomForestClassifier(n_estimators=50)),
    ('svc rfb',SVC(kernel='rbf', probability=True)),
    ('svc lin',SVC(kernel='linear', probability=True)),
    ('knc',KNeighborsClassifier()),
    ('abc',AdaBoostClassifier(base_estimator=RandomForestClassifier(n_estimators=1000,random_state = 50),n_estimators=600)),
    ('lr',LogisticRegression(solver = 'lbfgs')) 
]

In [231]:
vc = VotingClassifier(estimators=estimators, voting='hard')

In [232]:
vc.fit(trainX_tf,trainY_tf)
vc.score(testX_tf,testY_tf)

C:\Users\Achintj\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.88

In [233]:
for est,name in zip(vc.estimators_,vc.estimators):
    print (name[0], est.score(testX_tf,testY_tf))

rf 0.88
svc rfb 0.8666666666666667
svc lin 0.8933333333333333
knc 0.8533333333333334
abc 0.8666666666666667
lr 0.88

In [235]:
# Adjust some weights
vc = VotingClassifier(estimators=estimators, voting='soft', weights=[1,1,2,1,1,1.5])
vc.fit(trainX_tf,trainY_tf)
vc.score(testX_tf,testY_tf)

C:\Users\Achintj\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.8933333333333333

In [236]:
for est,name in zip(vc.estimators_,vc.estimators):
    print (name[0], est.score(testX_tf,testY_tf))

rf 0.8533333333333334
svc rfb 0.8666666666666667
svc lin 0.8933333333333333
knc 0.8533333333333334
abc 0.8666666666666667
lr 0.88